body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 5vw;
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

table, td, th {border: 1px black solid;}

table {
  width: 70%;
  margin: 0 auto;
  border: solid 1px;
}

.material-icons.md-dark { color: rgba(0, 0, 0, 1); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-64 { font-size: 64px; }
.material-icons.red { color: rgba(255, 0, 0, 1); }
.material-icons.blue { color: rgba(0, 0, 255, 1); }
.material-icons.black { color: rgba(0, 0, 0, 1); }
